.tab{
  padding: 0px 15px;
  color:#000000;
  font-family:"Space Grotesk", Helvetica;
  font-size:14.4px;
  font-weight: 400;
  letter-spacing: -0.29px;
  line-height: 21.7px;
  text-align:center;
  white-space: nowrap;
  width:120px;
  transition: all 0.6s ease;
 }
  .tabActive{
  padding:0px 15px;
  color: #999999;
  font-family:"Space Grotesk", Helvetica;
  font-size:14.4px;
  font-weight: 400;
  letter-spacing:-0.29px;
  line-height: 21.7px;
  text-align:center;
  white-space: nowrap;
  width:120px;
  border-bottom: 1.5px solid #EF9614
 }