:root {
  --backgorund-1: rgba(245, 245, 245, 1);
  --background-3: rgba(243, 249, 251, 1);
  --border: rgba(237, 237, 237, 1);
  --heading: rgba(34, 34, 34, 1);
  --line: rgba(217, 217, 217, 1);
  --primary: rgba(0, 142, 204, 1);
  --text: rgba(102, 102, 102, 1);
  --white: rgba(255, 255, 255, 1);
}
